# Django Settings
DEBUG=True
SECRET_KEY=django-insecure-replace-this-with-a-real-secret-key-in-production
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# Database Settings
DATABASE_URL=postgres://postgres:postgres@db:5432/patrimonio_db

# JWT Settings
JWT_SECRET_KEY=django-insecure-replace-this-with-a-real-secret-key-in-production
JWT_ACCESS_TOKEN_LIFETIME_MINUTES=60
JWT_REFRESH_TOKEN_LIFETIME_DAYS=7
